Django==5.2.12
asgiref==3.11.1
charset-normalizer==3.4.6
colorama==0.4.6
dj-database-url==3.1.2
gunicorn==25.1.0
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
python-barcode==0.16.1
python-dotenv==1.2.2
qrcode==8.2
reportlab==4.4.10
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
djangorestframework==3.15.1django-cloudinary-storage==0.3.0
cloudinary==1.41.0
